body {
  font-family: Arial;
}
.item {
  font-size: 25px;
  display: block;
}
.item-row {
  display: flex;      /* одна строка: код, значение, валюта */
  gap: 5px;           /* расстояние между колонками */
  margin-bottom: 5px; /* расстояние между строками */
}

.item__code {
  font-weight: bold;
  margin-right: 5px;
}
.item__value {
  margin-right: 5px;
}

.loader {
  width: 100px;
  display: none;
}
.loader_active {
  display: block;
}
